/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
.table-container {
  background: var(--surface-card);
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.custom-datatable .p-datatable-thead > tr > th {
  padding: 1rem 1.5rem;
}

.custom-datatable .p-datatable-tbody > tr > td {
  padding: 1rem 1.5rem;
}
