.alert-button-cancel {
  color: var(--ion-color-medium) !important;
  font-weight: 500;
  font-size: 1rem;

  &:hover {
    background: rgba(var(--ion-color-medium-rgb), 0.1);
  }
}

.alert-button-confirm {
  color: var(--ion-color-warning) !important;
  font-weight: 600;
  font-size: 1rem;

  &:hover {
    background: rgba(var(--ion-color-warning-rgb), 0.1);
  }
}
