.headerCol {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem;
}

:global(.room-full) {
  color: var(--ion-color-danger) !important;

  .alert-radio-label {
    color: var(--ion-color-danger) !important;
  }
}
