.headerCol {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem;
}
